@import url('http://fonts.cdnfonts.com/css/cocogoose');
@import url('http://fonts.cdnfonts.com/css/lato');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  h1 {
    @apply text-5xl 
      font-cocogoose 
      text-red-600;
  }

  h2 {
    @apply text-2xl 
      md:font-bold 
      md:text-3xl;
  }

  section {
    @apply flex 
      flex-col 
      py-8 
      px-4 
      justify-center 
      items-center 
      gap-4 
      md:py-12;
  }
}

@layer components {
  .gradient-h1 {
    background: -webkit-linear-gradient(top left, #dc2626, #d97706);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .activity {
    @apply bg-gray-500  
      bg-opacity-30 
      rounded 
      flex-1;
  }

  .activity-container {
    @apply grid 
      grid-cols-11 
      gap-2 
      p-2 
      items-center 
      md:grid-cols-1
      md:grid-rows-4;
  }

  .activity-img {
    @apply col-start-1 
      col-end-3 
      md:m-auto
      md:w-14
      md:col-end-2
      md:row-start-1 
      md:row-end-2;
  }

  .activity-title {
    @apply text-primary-orange 
      font-black
      text-lg
      p-2
      col-start-3 
      col-end-6
      md:text-center
      md:col-start-1 
      md:col-end-2
      md:row-start-2
      md:row-end-3;
  }

  .activity-description {
    @apply col-start-6 
      col-end-12
      md:text-center
      md:col-start-1
      md:col-end-2
      md:row-start-3
      md:row-end-5;
  }

  .img-feature-container {
    @apply bg-feature 
      h-32 
      w-32 
      flex 
      justify-end 
      items-end 
      bg-50c 
      bg-no-repeat;
  }

  .img-feature {
    @apply h-5/6 
      w-5/6;
  }
}
